.button-yellow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -20px;
    padding: 10px;
    width: 20px;
    height: 50%;
    background: #F8F100;
}

#link {
    display: flex;
    background: #FFFFFF;
    border: 2px solid #D6D6D6;
    border-left-width: 0;
    padding: 0px 20px;
    cursor: pointer;
    width: 88%;

    .connect{
        color: #27232C;
        margin: auto;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 1px;
    }
}

@media (max-width: 1115px) {

                #link {
                    width: 150px;
                    height: 35px;
                    justify-content: left;
                    margin: auto;


                .button-yellow {
                    padding: 8px;
                    width: 19px;
                    height: 19px;
                }

                .connect {
                    font-weight: 500;
                    font-size: 11px;
                    line-height: 18px;
                    margin-left: 0;
                    letter-spacing: 0.2px;
                }
                }
}