h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}
.card{
    margin: 10px;
    height: 50%;
    width: 19.4rem;
    background-color: rgb(255, 255, 255);
    // box-shadow: 1px 1px 3px rgb(104, 104, 104);
    box-shadow: 2.9px 2.9px 2px 1px rgb(0 0 0 / 10%);
    cursor: pointer;

    a{
        text-decoration: none;
        color: #27232C;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 2px;
    }
    h4{
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
    }
    h3{
        font-weight: 600;
        font-size: 21px;
        line-height: 26px;
        color: #27232C;
    }
    span{
        position: relative;
        text-align: center;
        width: 80%;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 1px;
        margin-bottom: 8px;
    }
    .format {
        background: #EBFFFF;
    }

}
.card-body {
    margin: 10px 20px;
}

.product--image {
    width: 100%;
    height: 15rem;
}
#container:hover{
    
    cursor: default;
}
#container {
    width: 100%;
    height: 100%;
    
}
#preview-client {
display: none;
position: absolute;
margin-top: 110px;
margin-left: 165px;
}
#container:hover > #preview-client  {
    display: block;
    cursor: pointer;
}

.contentElementsCard{
    display: flex;
    justify-content: space-between;

   
}
