.nav-logo {
    background-color: none;
}


.navbar {
    width: auto;
    height: 138px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    padding: 0 80px;

    .left {
        display: flex;
        gap: 25px;
    }

    .right {
        display: flex;
        min-width: 60%;
        align-items: center;
        justify-content: space-between;

        .item-menu {
            margin: 0 5px;
            cursor: pointer;

            .link {
                padding: 0px;
                width: 238px;
                height: 40px;
                display: flex;
                flex-direction: row;
                align-items: center;
                background: #FFFFFF;
                box-sizing: border-box;
                border: 2px solid #D6D6D6;
                border-left-width: 0;
                text-decoration: none;
            }

            .navbar-link {
                color: #27232C;
                text-decoration: none;
                width: 84px;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 2px;
                margin: 0 8px;
            }

            .navbar-link:focus {
                font-weight: 600;
                color: #27232C;
                text-decoration: none;
            }

            .button-yellow {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px;
                // width: 40px;
                width: 20px;
                height: 20px;
                background: #F8F100;
            }

            .connect {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
                font-size: 15px;
                line-height: 24px;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: #27232C;
                margin-left: 15px;
            }

            .contact {
                padding: 0px;
                width: 246px;
                height: 20px;
            }
        }



    }
}

.language {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #707070;
}

.language:hover {
    text-decoration-line: underline;
    font-weight: 700;
    color: #27232C;
}

.selected-language {
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #27232C;
    font-weight: 700;
}

@media (max-width: 1115px) {
    .navbar {
        .right {
            .item-menu {
                .link {
                    width: 150px;
                    height: 35px;
                    justify-content: left;
                }

                .button-yellow {
                    padding: 8px;
                    width: 19px;
                    height: 19px;
                }

                .connect {
                    font-weight: 500;
                    font-size: 11px;
                    line-height: 18px;
                    margin-left: 0;
                    letter-spacing: 0.2px;
                }
            }
        }
    }
}

.btn {
    background: #FFFFFF;
    border-radius: 5px;
    padding: 5px 10px;
    border: 0;
    color: inherit;
    line-height: normal;
    overflow: visible;
    display: none;
}

.mobile-menu {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E9E7E7;
    transition: transform 0.4s;
    transform: translateY(-100%);
    padding: 8px 0;
}

.mobile-menu-show {
    transform: translateY(0);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
}

.mobile-menu-hide {
    transform: translateY(-100%);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
}

.mobile-menu-link {
    color: #27232C;
    text-decoration: none;
    width: 84px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2px;
}

.mobile-menu-link:focus {
    font-weight: 600;
    color: #27232C;
    text-decoration: none;
}

.mobile-language-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.mrg-lang {
    margin-left: 6px;
}

.nav-mg {
    height: 80px;
}

@media (max-width: 900px) {
    .nav-logo {
        height: 45.5px;
        margin-top: 9px;
    }

    .btn {
        display: flex;
    }

    .navbar {
        z-index: 10;
        background-color: #D6D6D6;
        padding: 0 48px;
        height: 80px;
        position: fixed;
        right: 0;
        left: 0;
        top: 0;

        .right {
            display: none;
        }
    }
}

@media (min-width: 900px) {
    .mobile-menu {
        transform: translateY(-100%);
        display: none;
    }

    .nav-mg {
        display: none;
    }

    .mobile-menu-show {
        transform: translateY(-100%);
        display: none;
    }
}