.productions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 10%;
    padding-right: 10%;
}

.item {
    background: #27232C;
    margin: 10px;
    padding: 5%;
    position: relative;

    .rectangle {
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
    }

    .icon {
        margin-left: -65px;
        margin-bottom: 16px;
        margin-right: 25px;
    }

    span {
        color: #FFF;
        font-style: normal;
        font-weight: 600;
        font-size: 44px;
        line-height: 54px;
        position: absolute;
        top: 30px;
        margin-left: 10px;
    }

    p {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        letter-spacing: 2px;
    }
}



.link {
    width: 280px;
    height: 40px;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-sizing: border-box;
    border: 2px solid #D6D6D6;
    border-left-width: 0;
    margin: 40px auto;
}

.contentbuttonYP{
    margin: auto;
    width: 20%;
    margin: 10px auto 20px;
}

.button-yellow {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 20px;
    height: 20px;
    background: #F8F100;
}

.see-all-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #27232C;
    margin-left: 15px;
}

@media (max-width: 900px) {
    .productions {
        grid-template-columns: 1fr;
    }
    .contentbuttonYP{
        width: 100%;
        margin: 10px auto 20px;
    }
}