
.images{
    display: flex;
    margin: auto;
    width: 50%;
    flex-wrap: wrap;
    margin-bottom: 7em;
    margin-top: 5em;

    .img1 {
        width: 40%;
        height: 50%;
        margin-right: 3%;
    }

    .img2{
        width: 40%;
        height: 50%;
        position: relative;
        top: 4em;
    }
}
span{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2px;
}
h2{
    font-weight: 600;
    font-size: 44px;
    line-height: 54px;
}
p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 36px;
}
.item-one{
    margin: auto;
    width: 50%;
    padding-top: 70px;
    color: #fff;
}

.item-two{
    margin: auto;
    width: 50%;
    padding-bottom: 50px;
    span{
        color: #707070;
    }
    p{
        margin-left: 50px;
    }
}

.backgroundAbout{
    background: #27232C;
    width: 100%;
    height: 70vh;    
    position: absolute;
    z-index: -1;
}

@media (max-width: 1000px) {
    .backgroundAbout{
        height: 50%;
    }
    .images{
    .img1{
        width: 50%;
        height: 50%;
    }
    .img2{
        width: 47%;
        height: 50%;
    }}
}

@media (max-width: 600px) {
    .backgroundAbout{
        height: 60rem;
    }
    .images{
    .img1{
        width: 50%;
        height: 50%;
    }
    .img2{
        width: 47%;
        height: 50%;
    }}
}

@media (max-width: 280px) {
    .about{
        .backgroundAbout{
            height: 80rem;
            width: 140%;
        }
        .images{
        .img1{
            width: 50%;
            height: 50%;
        }
        .img2{
            width: 47%;
            height: 50%;
        }}
    }
}