.images {
    display: flex;
    margin: auto;
    width: 50%;
    // flex-wrap: wrap;
    margin-bottom: 7em;
    margin-top: 5em;
    justify-content: space-around;

    .img1 {
        width: 45%;
        height: 55%;
        // margin-right: 3%;
    }

    .img2 {
        // width: 40%;
        // height: 50%;
        width: 45%;
        height: 55%;
        position: relative;
        top: 4em;
    }
}

span {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2px;
}

h2 {
    font-weight: 600;
    font-size: 44px;
    line-height: 54px;
}

p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 36px;
}

.item-one {
    font-family: 'Montserrat';
    margin: auto;
    width: 56%;
    padding-top: 70px;
    color: #fff;
    margin-left: 200px;
}


.item-two {
    font-family: 'Montserrat';
    margin: auto;
    width: 50%;
    padding-bottom: 50px;

    span {
        color: #707070;
    }

    p {
        margin-left: 50px;
    }
}

.backgroundAbout {
    background: #27232C;
    width: 100%;
    height: 626px;
    position: absolute;
    z-index: -10;
}

.mobile-backgroundAbout {
    background: #27232C;
    width: 100%;
    height: 626px;
    position: absolute;
    z-index: -1;
    display: none;
}

@media (max-width: 820px) {
    .item-one {
        margin-left: 0;
        margin: auto;
    }
}

@media (max-width: 540px) {
    .backgroundAbout {
        background: linear-gradient(179deg, #27232C 27%, rgba(1, 1, 1, 0.8) 44.69%, rgba(217, 217, 217, 0) 100%);
    }

    .mobile-backgroundAbout {
        display: inline-block;
        background: linear-gradient(179deg, #27232C 17%, rgba(1, 1, 1, 0.8) 33.69%, rgba(217, 217, 217, 0) 100%);
    }

    .images {
        width: 70%;
    }

    .item-one {
        width: 66%;
    }

    .item-two {
        width: 66%;
    }

    .item-two p {
        margin-left: 0;
    }

    h2 {
        font-size: 38px;
        line-height: 48px;
    }

    p {
        font-size: 17px;
        line-height: 28px;
    }
}

@media (max-width: 280px) {
    .about {

        .backgroundAbout,
        .mobile-backgroundAbout {
            height: 48rem;
            width: 140%;
        }
    }
}