.contact-us {
  display: flex;
  flex-direction: column;
  color: #fff;
  width: 70%;
  align-items: flex-start;
  margin: auto;

  .connect-with {
    width: 481px;
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2px
  }

  h1 {
    font-weight: 600;
    font-size: 52px;
    line-height: 68px;
    font-family: 'Montserrat';
  }

  p {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 21px;
    line-height: 45px;
    width: 90%;
  }

}

.bg-contact-us {
  background: #27232c;
  padding: 60px 0px;

}

.form {
  padding: 10px;
  color: #c0c0c0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 90%;

  input {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2px;
    margin-right: 32px;
    background-color: #27232c;
    border: none;
    margin-bottom: 32px;
    margin-top: 40px;
    border-bottom: 1px solid #c0c0c0;
    color: #c0c0c0;
    outline: none;
  }
}

.with-us {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-right: 20px;
  }

  span {
    margin: 0px 5px 0px 3px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    font-family: 'Open Sans';
  }
}

.lastText {
  grid-column: 1/3;
}

.linkButton {
  width: 102% !important;
}

@media (max-width: 912px) {
  .bg-contact-us {
    width: 100%;

    .form {
      display: contents;
      width: 100%;

      input {
        width: 100%;
      }
    }

    .with-us {
      display: contents;
      width: 100%;

      div {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
}

@media (max-width: 541px) {
  .contact-us {
    .connect-with {
      width: 100%;
    }

    h1 {
      font-size: 42px;
      line-height: 44px;
    }

    p {
      font-size: 20px;
      line-height: 35px;
    }
  }

  .bg-contact-us {
    width: 100%;

    .form {
      display: contents;
      width: 100%;

      input {
        width: 100%;
      }
    }

    .with-us {
      display: contents;

      div {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
}

@media (max-width: 414px) {
  .bg-contact-us {
    width: 100%;

    .form {
      display: contents;
    }

    .with-us {
      display: contents;

      div {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
}

@media (max-width: 280px) {
  .bg-contact-us {
    width: 160%;
  }
}