.backgroundDetail {
    background: #27232C;
    width: 100%;
    height: 70vh;
    position: absolute;
    z-index: -10;
}

.contentDetail {
    width: 50%;
    margin: auto;

    p {
        font-size: 1.5rem;
        font-family: 'Montserrat';
        font-weight: 400;
        line-height: 45px;
        color: #707070;

    }

    a {
        text-decoration: none;
    }
}

.itemsBack {
    margin: 50px -80px;
    display: flex;
    align-items: center;

    h4 {
        color: #fff;
        font-weight: 200;
        margin-left: 10px;
        cursor: pointer;
    }
}
.Content-CardsImg {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    padding-top: 20px;
    margin: auto;
    padding-bottom: 3em;
    justify-content: center;
    img{
        width: 100%;
        height: 257px;
    }
    .card {
        box-shadow: none;
        width: 378px;
    }
    span, h4, h3, a{
        position: absolute;
    }
}

.download {

    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    align-items: center;

    .label {
        background: #EBFFFF;
        padding: 5px;
        width: 30%;
        text-align: center;
    }
}

.label {
    background: #EBFFFF;
    padding: 5px;
    width: 30%;
    text-align: center;
    margin: 20px 0px;
}
