.bgPortafolio {
  min-height: 520px;
  position: absolute;
  z-index: -1;
  width: 100%;
}

.contentPageDetail{
  width: 55%;
  margin: auto;
}

.portafolio {
  background-color: #F4F4F4;
  position: relative;
  width: 100%;

  .layout {
    display: flex;
    justify-content: center;
    padding: 30px;
    flex-wrap: wrap;

    button {
      color: #fff;
      background-color: #27232c;
      border: none;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 2px;
      margin-right: 7%;
      cursor: pointer;
      padding: 10px 25px;
      position: relative;
      border-radius: 8px;

      span {
        position: absolute;
        font-size: 12px;
        right: 4px;
        top: 4px;
      }
    }

    .activado {
      border: 1px solid #fff;
    }
  }
}

.content {
  margin-top: 0;
  width: 100%;
  height: 24rem;
  padding-top: 4%;
  color: #fff;
  background: #27232C;  
  // z-index: 1;
}

.top {
  color: #fff;

  .title {
    display: flex;
    flex-direction: row;
  }

  .icon {
    margin-right: 20px;
  }

  span {
    position: relative;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2px;
  }

  h1 {
    margin-top: 0;
    font-weight: 600;
    font-size: 52px;
    line-height: 68px;
    margin-bottom: 11px;
  }

  p {
    margin: 0 auto;
    margin-top: 0;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 36px;
  }
}

.leadmore {
  position: relative;
  bottom: 65px;
  text-align: center;
  padding-top: 2em;
  color: #27232c;
  text-decoration: none;

  span {
    color: #27232c;
    font-size: 1.2rem;
  }
}

.Content-CardsPort {
  position: relative;
  bottom: 80px;
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  margin: auto;
  padding-bottom: 0.5em;
  justify-content: center;
  // margin-top: -180px;

  a {
    text-decoration: none;
    color: black;
  }
  .card {
    #preview-client {
      display: block;
      margin-left: 140px;
      margin-top: 100px;
      fill: #F4F4F4;
    }
    #preview-client:hover {
      fill: #F8F100;
      transition: fill 0.2s ease-in-out;
    }
  }
}

@media (max-width: 1280px) {
  
  .content{
    height: 32rem;
  }

  .Content-CardsPort {
    bottom: 212px;
  }

  .portafolio {
    .layout {
      button {
        margin-right: 1%;
      }

    }
  }
}

@media (max-width: 912px) {
  
  .content{
    height: 35rem;
  }

  .contentPageDetail{
    margin-top: 30px;
  }

  .portafolio {
    .layout {
      button {
        margin-right: 1%;
      }

    }
  }
}

@media (max-width: 840px) { 
  .content{
    height: 37rem;
  }
  .bgPortafolio {
    min-height: 600px;
  }
}

@media (max-width: 540px) {
  .content{
    height: 53rem;
  }
  .bgPortafolio {
    min-height: 788px;
  }
  .portafolio {
    .layout {
      button {
        margin-right: 0;
      }

    }
  }
}

@media (max-width: 360px) {
  .bgPortafolio {
    min-height: 830px;
  }
  .contentPageDetail{
    margin-top: 0px;
  }
}

