.bgPortafolio {
  min-height: 520px;
  position: absolute;
  z-index: -1;
  width: 100%;
}

.contentPageDetail{
  width: 55%;
  margin: auto;
}

.portafolio {
  background-color: #F4F4F4;
  position: relative;
  width: 100%;

  .layout {
    display: flex;
    margin-top: 20px;
    margin-left: 15%;
    padding: 30px;
    flex-wrap: wrap;

    button {
      color: #D6D6D6;
      background-color: #27232c;
      border: none;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 2px;
      margin-right: 3%;
      cursor: pointer;
      padding: 10px 25px;
      position: relative;
      border-radius: 8px;

      span {
        position: absolute;
        font-size: 12px;
        right: 4px;
        top: 4px;
      }
    }

    .activado {
      border: 1px solid #D6D6D6;
    }
  }
}

.content {
  margin-top: 0;
  width: 100%;
  height: 34rem;
  padding-top: 4%;
  color: #fff;
  background: #27232C;  
  // z-index: 1;
}

.top {
  color: #fff;
  height: 50%;

  .title {
    display: flex;
    flex-direction: row;
  }

  .icon {
    margin-right: 20px;
  }

  span {
    position: relative;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2px;
  }

  h1 {
    margin-top: 0;
    font-weight: 600;
    font-size: 52px;
    line-height: 68px;
    margin-bottom: 11px;
  }

  p {
    margin: 0 auto;
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    line-height: 40px;
  }
}

.leadmore {
  position: relative;
  bottom: 95px;
  text-align: center;
  padding-top: 2em;
  color: #27232c;
  text-decoration: none;

  span {
    color: #27232c;
    font-size: 1.2rem;
  }
}

.Content-CardsPort {
  position: relative;
  bottom: 10rem;
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  margin: auto;
  padding-bottom: 0.5em;
  justify-content: center;
  // margin-top: -180px;

  a {
    text-decoration: none;
    color: black;
  }
  .card {
    width: 22rem;
    #preview-client {
      display: block;
      margin-left: 140px;
      margin-top: 100px;
      fill: #F4F4F4;
    }
    #preview-client:hover {
      fill: #F8F100;
      transition: fill 0.2s ease-in-out;
    }
  }
}

@media (max-width: 1280px) {
  
  .content{
    height: 32rem;
  }

  .Content-CardsPort {
    bottom: 140px;
    width: 100%;
  }

  .portafolio {
    .layout {
      button {
        margin-right: 1%;
      }

    }
  }
}

@media (max-width: 912px) {
  .portafolio {
  .content{
    height: 42rem;
    .top{
      .title{
        display: grid;
      }
    }
  }

  .contentPageDetail{
    margin-top: 30px;
    width: 80%;
  }
    .layout {
      justify-content: center;
      display: flex;
      flex-wrap: nowrap;
      text-align: center;
      
      button {
        margin-right: 20px;

      }
  }
  .Content-CardsPort {
    width: 100%;
  }
}

@media (max-width: 840px) { 
  .content{
    height: 37rem;
  }
  .bgPortafolio {
    min-height: 600px;
  }
}

@media (max-width: 541px) {
  }
  .content{
    height: 55rem;
  }
  .bgPortafolio {
    min-height: 788px;
  }
  .portafolio {
    .layout {
      margin: auto;
      display: block;
      width: 50%;
      button {
        margin-right: 0;
      }

    }
    .Content-CardsPort {
      width: 100%;
    }
  }
}

@media (max-width: 415px) {
  .portafolio {
  .content{
    height: 70rem;
    .top{
      .title{
        display: grid;
      }
    }
  }

  .contentPageDetail{
    margin-top: 30px;
    width: 80%;
  }
    .layout {
      justify-content: center;
      flex-wrap: nowrap;
      
      button {
        margin-right: 20px;

      }
  }
  .Content-CardsPort {
    width: 100%;
  }
  }
}



